<div class="container">
  <div class="row">
    <div class="col s12 m12">
      {{!-- {{log session.currentUser}} --}}
      {{#if session.user.isLoggedIn}}
        {{!-- {{#each session.currentUser.providerData as |user|}} --}}
          <h1 class="header">Olá,</h1>
          <h4 class="header">{{session.user.displayName}}</h4>
          {{model.subtitle}}
        {{!-- {{/each}} --}}
      {{else}}
          <h1 class="header">{{model.title}}</h1>
          <h4 class="header">{{model.subtitle}}</h4>
          {{model.content}}
      {{/if}}
      
    </div>
  </div>
</div>