{{#md-navbar name='SECOM.APP' class='indigo' homeRoute='home'}}
  <!-- A workaround to get the "active" class
    to apply to the active <li> automatically -->
  {{#link-to 'home' tagName='li'}}
    {{link-to 'Home'}}
  {{/link-to}}
  {{#link-to 'projetos' tagName='li'}}
    {{link-to 'Projetos'}}
  {{/link-to}}
  {{!-- {{#link-to 'home' tagName='li'}}
    <a href=""><i class="mdi-action-home">Home</i></a>
  {{/link-to}} --}} 
  {{#link-to 'noticias' 1 tagName='li'}}
    {{link-to 'Notícias'}}
  {{/link-to}}
  {{#link-to 'tags' tagName='li'}}
    {{link-to 'Tags'}}
  {{/link-to}}
  {{#link-to 'downloads' tagName='li'}}
    {{link-to 'Downloads'}}
  {{/link-to}}
  {{#link-to 'contato' tagName='li'}}
    {{link-to 'Contato'}}
  {{/link-to}}
  {{#link-to 'sobre' tagName='li'}}
    {{link-to 'Sobre'}}
  {{/link-to}}
  {{#unless session.isAuthenticated}}
      <li><a href="#" {{action 'login' }}>Login</a></li>
  {{else}}
     <li>
        {{!-- <a href='#'>
            <img src='{{session.currentUser.photoURL}}' height='30px' width='30px' class="img-rounded"/>
        </a> --}}
        {{#md-btn-dropdown hover=true text=session.currentUser.displayName belowOrigin=true buttonType="flat" class="indigo white-text btn-large btn-small"}}
          {{#link-to 'perfil' tagName='li'}}
            {{link-to 'Perfil'}}
          {{/link-to}}
          {{#link-to 'preferencias' tagName='li'}}
            {{link-to 'Preferencias'}}
          {{/link-to}}
          <li class="divider"></li>
          <li><a href="#" {{action 'logout'}}>Sair</a></li>
        {{/md-btn-dropdown}}
    </li>
  {{/unless}}
  {{#link-to 'search' tagName='li'}}
    <a href=""><i class="mdi-action-search"></i></a>
  {{/link-to}}
{{/md-navbar}}