<div class="container">
	{{page-view page=biizu}}
	<hr>
	{{page-view page=paraResponde}}
	<hr>
	{{page-view page=publicom}}
	<hr>
	{{page-view page=radioEscola}}
	<hr>
	{{page-view page=asfemBel}}
	<hr>
</div>
{{outlet}}